* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 800vh;
  font-family: "Apple Garamond Light";
  background-color: #000;
}

::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em; 
}


.logo  a{
  font-size: 24px;
  letter-spacing: 0.5em;  
  color: #fff;
  text-decoration: none;
  font-family: "glorich";
}


section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero {
  background: url(./assets/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.outro p {
  color: #ded8c8;
  font-size: 30px;
  font-family: "glorich";
  letter-spacing: -0.005em;
}

.sticky {
  position: relative;
  background-color: #ded8c8;
}

.sticky-header {
  position: absolute;
  top: 5%;
  left: 0;
  width: 250vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.sticky-header h1 {
  margin: 0;
  color: #000;
  font-size: 20vw;
  font-weight: lighter;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-family: "glorich";
}

.card {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 320px;
  height: 540px;
  background-color: #050505d0;
  backdrop-filter: blur(50px);
  border-radius: 1em;
  padding: 0.5em;
  will-change: transform;
  z-index: 2;
}

.card .card-img {
  width: 100%;
  height: 240px;
  border-radius: 0.5em;
  overflow: hidden;
  object-fit: contain;
}

.card-content {
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 0.5em;
  font-family: "glorich";
}

.card-content h2 {
  font-size: 34px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

.card-content p {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

@media (max-width: 900px) {
  .nav-items {
    justify-content: flex-end;
  }

  .outro p {
    font-size: 15px;
  }
}

/* lenis smooth scroll */
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
